body{
    background-image: linear-gradient(#00C9FF, #92FE9D);
    height: 100vh;
}
.faded{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
}
.index-button{
    background-color: teal;
    border: none;
    margin: 25px;
    color: white;
    border-radius: 15px;
    padding: 12px;
    font-size: 1.3rem;
    transition: .3s;
    /* border: 2px black solid; */
}
.index-button:hover{
    background-color: #00C9FF;
    color: black;
    cursor: pointer;
    transition: .3s;
}
.game-button{
    background-color: teal;
    border: none;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    color: white;
    border-radius: 15px;
    /* padding: 12px; */
    width: 45%;
    height: 100%;
    font-size: 2.3rem;
    transition: .3s;
    /* border: 2px black solid; */
}
.game-button:hover{
    background-color: #00C9FF;
    color: black;
    cursor: pointer;
    transition: .3s;
}
.game-button-col{
    height: 11vh!important;
    padding: 10px;
}
.disabled:hover{
    background-color: teal;
    color: white;
    cursor: not-allowed!important;
}
.selected{
    border: 5px black solid;
}